@{
  Layout = "_Layout";
  string userName = ViewBag.UserName;
}

<h3>Welcome @userName to your GeekToGeek Account</h3>
<hr />

@if (userName != null)
{
  @using (Html.BeginForm("LogOut", "Account"))
  {
    <input type = "submit" value = "Log out" />
  }
}
else 
{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Login", "Login")</p>
}